<!doctype html>
<html>
	<head></head>
	<body>
		<header>
			<h1>Trip Tracker!</h1>
		</header>
		<section>
			<form action="/" method="post" name="track-trip">
				{{ form.zipcode }}
				{{ form.year }}
				{{ form.make }}
				{{ form.model }} 
				{{ form.submit }}
			</form>
		</section>
		<footer></footer>
	</body>	
	<script type=text/javascript src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script type=text/javascript src="{{ url_for('static', filename='js/index.js') }}"></script>
</html>
